# MYSQL via Python
* We will learn to use mysql via python
* Please install the following :
    1. [MySQL Community Server 8.x](https://dev.mysql.com/downloads/mysql/) (For those using windows, you can use windows installer)
    2. mysql connector (pip install mysql-connector-python)
    3. Pandas (pip install pandas)

In [1]:
import mysql.connector as sql
import pandas as pd

We create a db_connection to the world database (installed by default) as follows

In [3]:
db_connection = sql.connect(host='localhost', database='world', user='root', password='root')

ProgrammingError: 1698 (28000): Access denied for user 'root'@'localhost'

You can read the output of the country table directly into the pandas dataframe using `read_sql` method

In [ ]:
df = pd.read_sql('SELECT * FROM country', con=db_connection)

You can call `head(n)` on dataframe object. The default for n is 5.

In [ ]:
df.head()

In [ ]:
db_connection.close()

## Connecting to MySQl without Specifying a database

In [ ]:
mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="mysql"
)

## Show All Databases

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

## Create and Show ase1 database

In [ ]:
#What if it already exist?
mycursor.execute("CREATE DATABASE IF NOT EXISTS ase1")

In [ ]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)